<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./images/favicon.ico" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel='stylesheet' href="/@fortawesome/fortawesome-free/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <script src="/jquery/dist/jquery.min.js" defer></script>
    <script src="/Scripts/app.js" defer></script>
    <title><%= title %></title>
  </head>
  <body>