/*  styles.css 
    Hung Nguyen
    301294266 
    May 30
*/

/* Body styles */
body {
  background-color: #264653;
  color: #e9c46a;
  width: 80%;
  margin: 10px auto;
  font-family: 'Times New Roman', Times, serif;
}

/* Navbar styles */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-size: 1.3rem;
  font-weight: bolder;
  border-radius: 10px;
}

li {
  float: left;
}

li a {
  display: block;
  color: #2a9d8f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #e9c46a;
  color: #2a9d8f;
}

/* Contact Me link style */
li.contact {
  float: right;
}

/* Active link style */
li.active a {
  background-color: #2a9d8f;
  color: #e6c01a;
  font-weight: bold;
}

/* Logo styles */
.logo {
  display: block;
  padding: 9.8px 50px;
  font-size: 2rem;
  text-decoration: none;
  font-family: 'Press Start 2P', cursive;
  background-color: #e76f51;
  color: #264653;
}

.logo:hover {
  cursor: not-allowed;
}

/* Navbar container styles */
#navbar {
  margin: 20px auto;
  min-width: 650px;
  max-width: 1500px;
}

/* Footer styles */
footer {
  text-align: center;
  margin-top: 40px;
}

/* Responsive styles */
@media (max-width: 750px) {
  h1{
    line-height: 110%;
  }
  ul {
    font-size: 1.3rem;
  }
  li,
  li.contact {
    float: none;
  }
  .logo {
    font-size: 1.5rem;
    text-align: center;
  }
  #navbar {
    min-width: 60%;
    max-width: 80%;
  }
  body{
    width: 100%;
  }
}

@media (max-width: 950px) {
  ul {
    font-size: 1.1rem;
  }
  .logo {
    padding: 8.8px 20px;
  }
  .flex-container{
    flex-direction: column;
  }
  .flex-item{
    flex: 100%;
  }
}

/* Main content styles */
main {
  width: 90%;
  max-width: 1200px;
  margin: 50px auto;
  font-size: 1.2rem;
  letter-spacing: 0.05em;
  line-height: 1.5rem;
}

/* Common styles */
a {
  text-decoration: none;
}

/* Blockquote styles */
blockquote a.project-link {
  color: #e76f51;
  float: right;
}

/* Fieldset styles */
fieldset {
  margin: 30px auto;
  max-width: 1200px;
}

/* Profile picture styles */
.profile-pic {
  text-align: center;
  margin: 10px auto;
}

img {
  border-radius: 50%;
  width: 25%;
  height: 25%;
  overflow: auto;
  border-style: outset;
  border-color: #e6c01a;
  transition: 500ms;
}

img:hover {
  cursor: not-allowed;
  border-style: inset;
  border-color: #e251e7;
  transform: scale(1.02);
  transition: 500ms;
}

/* Resume link styles */
a.resume-link {
  display: inline;
  color: #e76f51;
}


/* Flex box styles */
.flex-container {
  display: flex;
  margin: 80px auto;
  max-width: 1200px;
}
.flex-item{
  flex: 50%;
}
h1.collab{
  text-align: center;
}
.contact-link{
  font-weight: bolder;
  text-decoration: none;
  color: #fff;
}

.flex-item > h3{
  margin-top: 0;
}
.highlight{
  color: #5ee751;
}

/* Contact-info styles */
.contact-info{
  line-height: 1.7rem;
  margin-bottom: 50px;
}

/* Form styles */
input {
  display: block;
  background-color: inherit;
  color: #fff;
  border-style: solid;
  width: 80%;
  margin-top: 5px;
}

input,
textarea,
button {
  border-color: #eeeeee;
  border-radius: 5px;
  padding: 5px;
  font-size: 1.2rem;
  font-family: 'Times New Roman', Times, serif;
}

button {
  border-color: #e6c01a;
  width: 100px;
}

button:hover {
  border-color: #e61a57;
  font-weight: bolder;
}

.required{
  color: #e61a57;
}
